.food-item-img {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}
.item-cost {
  display: flex;
  height: 24px;
  width: 69px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
}
.restaurant-item-description {
  width: 200px;
}
.restaurant-item-name {
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #334155;
}
@media screen and (min-width: 768px) {
  .food-item-img {
    height: 150px;
    width: 255px;
  }
}
.add-btn {
  border: 2px solid #ffa412;
  font-family: Inter;
  border-radius: 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
  background-color: transparent;
  color: #ffa412;
}
.plus-minus-btn {
  color: #3e4c59;
  background-color: transparent;
  border: 1px solid #475569;
  font-size: 13px;
  height: 22px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.item-count {
  font-size: 20px;
  padding-top: 10px;
  color: #475569;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
