.specific-hotel-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url('https://res.cloudinary.com/dkr26vkii/image/upload/v1625917409/Rectangle_1399_jtya8w.png');
}
.vertical-line {
  border-left: 1px solid #e2e8f0;
}
.ratings-and-cost-of-two {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #e2e8f0;
}
.hotel-food-img {
  height: 221px;
  width: 221px;
  margin-left: -68px;
  margin-top: -54px;
  border-radius: 133.9812469482422px;
}
.specific-hotel-name {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #ffffff;
}
.specific-cuisine {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #e2e8f0;
}
.specific-hotel-location {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #e2e8f0;
}
.food-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .specific-hotel-banner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hotel-food-img {
    height: 280px;
    width: 445px;
    margin-left: 75.00006103515625px;
    margin-top: 31.99951171875px;
    border-radius: 8px;
  }
  .specific-hotel-name {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }
}
